<%- include("partials/header.ejs") %>

<section class="page-title">
  <h1>About Page</h1>
</section>
<section class="content">
  <img src="https://picsum.photos/200/200" alt="Random picture from picsum" />
  <div class="info">
    <h3>Tiago Guerreiro</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam natus
      sed numquam reprehenderit eum, hic dolores nobis nesciunt necessitatibus
      dolore est placeat error fugiat dolorem perspiciatis non beatae magnam
      reiciendis.
    </p>
  </div>
</section>

<%- include("partials/footer.ejs") %>
