<%- include("partials/header.ejs") %>

<section class="page-title">
  <h1>Blog Page</h1>
</section>
<section class="content">
  <p>
    Here I'm supose to create a blog system, but I think I'll need body-paser
    for this, but I don't know how to use it.. Yet
  </p>
</section>

<%- include("partials/footer.ejs") %>
