<%- include("partials/header.ejs") %>

<section class="page-title">
  <h1>Home Page</h1>
</section>
<section class="content">
  <p>
    Welcome to my simple blog website, I'm using EJS as templating engine and
    Node.js as server side language.
  </p>
</section>

<%- include("partials/footer.ejs") %>
