@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 15px;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

p,
li {
  font-size: 1rem;
  line-height: 1.6;
  margin: 10px;
}

/* Links */
a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
}

small {
  font-size: 0.875rem;
  line-height: 1.4;
}

/* Botões */
button {
  font-size: 1rem;
  font-weight: 600;
}

.caption {
  font-size: 0.75rem;
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(214, 214, 214);
  border-radius: 15px;
  padding: 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
}

#navbar > .logo > a > img {
  width: 100px;
  border-radius: 8px;
}

#navbar > .links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#navbar > .links > a {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

#navbar > .links > a:hover {
  text-decoration: underline;
}

#hero-banner {
  background-color: rgb(66, 66, 209);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 90px;
  border-radius: 60px;
  width: 1020px;
}

section {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 90px;
  border-bottom: 1px solid black;
}
