<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Using EJS</title>
  </head>
  <body>
    <h1>Today is <%= dayType %>, <%= advice %>!</h1>
  </body>
</html>
